.questionContainer {
    max-width: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.subtitle {
    font-size: 14px;
    opacity: .8;
}
.answerContainer {
    display: grid;
    row-gap: 30px;
    column-gap: 30px;
    grid-template-columns: auto auto;
    margin-top: 20px;
}
.answerBox {
    border: 1px solid #526D82;
    width: 100%;
    min-width: fit-content;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 3px 3px 7px black;
}
.answerBox:hover {
    background-color: #526D82;
    color: white;
}

.buttonGroup {
    display: flex;
    justify-content: space-between;
}
.buttonGroup button {
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;
    background-color: #DDE6ED;
    color: #27374D;
}
.buttonGroup .button:hover {
    background-color: #526D82;
}
.buttonGroup .button:hover img {
    filter: invert(100);
}
.buttonGroup .disabled {
    filter: invert(90);
}
.buttonGroup button, .answerBox {
    cursor: pointer;
}
.selectedButton {
    background-color: #526D82;
    color: white;
}
.submitButton {
    padding: 10px 15px;
    font-size: 20px;
    font-weight: 500;
}
.submitButton:hover {
    background-color: #526D82;
    color: white;
}