.sidebarContainer {
    width: 40%;
    padding-left: 30px;
}
.questionsListing {
    margin-top: 20px;
}
.questionsListing p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 60%;
    cursor: pointer;
    margin-top: 10px;
    font-weight: 600;
}
.questionsListing p:hover {
    white-space: pre-wrap;
    opacity: 60%;
}