.main {
  display: flex;
  justify-content: space-evenly;
  padding: 6rem;
  min-height: 100vh;
}
.result {
  flex-direction: column;
  justify-content: flex-start;
}

.optionForm {
  width: 50%;
}
.formGroup {
  display: flex;
  flex-direction: column;
}
.formGroup input, .formGroup select {
  padding: 10px;
  border: none;
  border-radius: 6px;
  background-color: white;
  color: black;
}
.formGroup input[type=number] {
  appearance: textfield;
  padding: 10px;
  border-radius: 6px;
  border: none;
}
.formGroup input[type=number]:focus-visible, .formGroup select:focus-visible {
  outline: none;
}
.formGroup input::-webkit-outer-spin-button, .formGroup input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
.optionForm button {
  width: 100%;
  padding: 10px;
  border: none;
  margin-top: 10px;
  border-radius: 6px;
  cursor: pointer;
  background-color: #27374D;
  color: white;
  font-size: 20px;
}
.optionForm button:hover {
  background-color: #9DB2BF;
  color: #27374D;
}